.background{
    width: 100%;
    height:100%;
    position: fixed;
    z-index: -1;  
}
.background-video{
    width: vw;
    height: vh;
    position: fixed;
    z-index: -1;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
.fade-in{
    animation: fadeIn 600ms ease-in-out;
}